# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
/.next/
/out/

# vercel
/.vercel

# SQLite
*.db
*.db-journal

# MacOS
*.swp
*.swo

# IDEs and editors
/.idea
*.sublime-workspace
*.sublime-project
.vscode/
*.code-workspace

# misc
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.pid.lock

# lockfiles
package-lock.json
yarn.lock
